@keyframes subtleShimmer {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

body {
    font-family: 'Chakra Petch', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/home/SiteWeb1/logo-do-corinthians-512.png');
    background: linear-gradient(135deg, #1C314C, #122033, #2A4C77);
    background-size: 200% 200%; 
    animation: subtleShimmer 20s ease infinite; 
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    text-align: center;
    padding-top: 25px;
    overflow: hidden;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.card {
    background-color: #0e2221;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 250px;
    height: 250px; 
    text-align: left;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
}

.card:hover {
    transform: scale(1.05);
}

#UFPR {
    position: absolute;
    width: 150px;
    height: 100px;
    top: 15px;
    left: 20px;
}

#foto {
    width: 450px;
    height: 400px;
    border-radius: 50%;
    margin: 15px auto 30px auto;
    display: block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border: 5px solid #26A585;
}
#Corinthians {
    filter: grayscale(100%);
    width: 450px;
    opacity: 0.15;
    top: 10px;
    left: 60px;
    position: absolute;
    transform: rotate(-30deg);
}
h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: #26A585;
}

.card h2 {
    color: #26A585;
    margin-bottom: 5px;
}


p {
    font-family: 'Open Sans', sans-serif;
    color: #f1f1f1;
}
li::before {
    font-family: 'Open Sans', sans-serif;
    color: #f1f1f1;
    padding-left: 40px;
}
ul {
    font-family: 'Open Sans', sans-serif;
    list-style-position: inside; 
    padding-left: 0;
    margin: 0;
    display: inline-block;
    text-align: left;
}

.botao-github, .botao-linkedin {
    background-color: #0e2221;
    color: white;
    padding: 20px 30px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    transition: background-color 0.3s, transform 0.2s ease-in-out;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 15px;
    z-index: 1000;
}

.botao-github {
    right: 20px;
}

.botao-linkedin {
    right: 130px;
}

.botao-github:hover, 
.botao-linkedin:hover {
    background-color: #1bdaff;
    transform: scale(1.1);
}
